
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
.page-upper{
    background-color: #1F2937;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;

}
.page-upper > .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 60px 20px 60px;
    font-family: 'Quicksand', sans-serif;
    gap: 16px;
}
.brand-text{
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    width: 1060px;
}
.page{
    padding: 0px;
    background-color: aqua;
}
ul{
    list-style-type: none;
    margin: 0px;
  
}
li{
    display: inline;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
li > a{
    text-decoration: none;
    color: #fff;
}
.banner{
    display: flex;
    gap: 16px;
    margin: auto 80px 20px 80px;
    align-items: center;
    justify-content: center;
}
.text{
    color: #fff;
}
.banner-left, .banner-right{
    max-width: 700px;
    /* background-color: aqua; */
}
.banner-right{
    /* background-color: #787c83; */
    max-height: 100px;
    /* object-fit: cover; */
    

}
button{
    background-color: #1a67d3;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    width: 150px;
    font-size: 12pt;
}
h1{
    font-size: 45px;
    
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 5px solid #fff;
}
.page-middle-1{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.img{
    display: flex;
    gap: 60px;
}
div.img-placeholder{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    gap: 10px;
}
.img-placeholder > img{
    border: 3px solid #1a67d3;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    
}
.img-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page-middle-2{
    margin: 100px 0px;
    max-width: 100%;
    padding: 120px;
    display: flex;
    flex-direction: column;
    background-color: #eeeff1;
    font-size: 42px;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-quote{
    width: 1200px;
}
.author{
    width: 1200px;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
/* padding-right: 700px; */
}
.footer{
    display: flex;
    justify-content: center;
   
}
div.pre-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a67d3;
    width: 900px;
    padding: 0px 100px;
    border-radius: 10px;
    margin:0px 0px 100px 0px;
}
div.pre-footer > div.text{
    
}
div.button > button{
    border: 2px solid #fff;
}
div.main-footer{
    display: flex;
    background-color: #1F2937;
    color: #fff;
    height: 100px;
    align-items: center;
}
div.main-footer > p{
    margin: 0px auto;
}